---
import cv from "@cv";
const { basics } = cv;
---

<section class="flex flex-row w-2xl text-center items-center md:text-left py-2">
  <p class="text-gray-500 leading-relaxed lg:text-right text-pretty underline underline-offset-3 decoration-gray-300">{basics.summary}</p>
</section>

<style>
  @reference "tailwindcss";
</style>
